# Core
pandas
numpy
requests
python-dotenv

# Feature store
hopsworks>=3.4.0
confluent-kafka
# Modeling
scikit-learn
xgboost
lightgbm
catboost
shap

# API
fastapi
uvicorn

# Dashboard
streamlit
plotly
seaborn
# Optional deep lear
prophet
# statsmodels
